@import "tailwindcss";
html, #root{
    min-height: 100vh;
    /* background: linear-gradient(135deg, #ffe4e6, #ffffff, #f5f5f5); */
    background: linear-gradient(135deg, #fbb0c1, #f7f7f7, #e0e0e0);
}

